Css

/*Estilos para el cuerpo del HTML*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilos para el encabezado de la pagina dentro del body*/
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*Navegador de la pagina home-promociones...,*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul li {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #91d8e5;
    border-radius: 5px;
}

nav ul li img {
    width: 20px;
    height: 20px;
}
